*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #222;
}

.boxContainer{
    width: 1200px;
    min-height: 80vh;
    margin: 0 auto;
}

.box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 105px;
    height: 105px;
    border: 1px solid white;
    align-items: center;
    justify-content: center;
    background-color: lightseagreen;
}

.lightPink{
    background-color: lightpink;
    color: black;
}

.coral{
    background-color: coral;
    color: white;
}

.cadet{
    background-color: rgb(66, 122, 141);
    color: white;
}